html {
    background-color: black;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    color: white;
    background-image: url(../pictures/background_3.webp);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: white
}
li {
    list-style-type: none;
}
li a {
    font-size: 1.5em;
    display: block;
    text-align: center;
    font-weight: bold;
}
h1{
    font-size: 2.5em;
    padding-top:2.4em;
}
h2{
    font-size: 1.5em;
}
.main-grid{
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    text-align: center;
    width: 100%;
}
.burger--menu{
    float: right;
    z-index: 3;
    position: fixed;
}
.burger--menu__logo{
    width: 100%;
    display: block;
}
.burger{
    display: flex;
    justify-content: space-between;
    max-height: 10vh;
    flex-direction: row-reverse;
}
.burger--items {
    display: none;
}
.navbar{
    display: none;
}
.burger--items.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
    gap: 3em;
    background: linear-gradient(to bottom, rgba(91, 37, 180, 0.9), rgba(66, 91, 169, 0.9), rgba(44, 138, 159, 0.9));
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 2;
}
.description{
    text-align: center;
}
.button{
    display: block;
    text-align: center;
    border-radius: 15px;
    font-size: 1em;
    padding: 1em 2em;
}
.subscribe{
    background: linear-gradient(to right, rgba(240, 135, 255, 1), rgba(110, 31, 206, 1), rgba(110, 31, 206, 1));
}
.learn{
    background: linear-gradient(to left,rgb(21, 244, 238), rgb(10, 106, 103));
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 2em;
    background: transparent;
    justify-content: center;
    align-items: center;
}
.swiper-grid-column>.swiper-wrapper{
flex-direction: row;
}
.swiper-pagination{
    --swiper-theme-color:rgb(21, 244, 238);
}
.card {
    transition: 0.7s;
    margin: 0.5em;
    backdrop-filter: blur(50px);
    padding: 0.7em;
    border-radius: 40px;
}
.card--title {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 0.3em;
}
.card--title__blue{
    border-left: 5px solid rgb(21, 244, 238);
}
.card--title__green{
    border-left: 5px solid rgb(103, 255, 123);
}
.card--title__pink{
    border-left: 5px solid rgb(240, 135, 255);
}
.card--text {
    font-size: 1rem;
    text-align: left;
    padding: 10px;
}
.card--price {
    font-size: 1.2rem;
    padding: 10px;
    border-bottom: 2px solid white;
}
.stats-grid{
    display: block;
}
.join{
    display: none;
}
.stat--bigger{
    font-size: 4em;
}
.stat--smaller{
    font-size: 0.8em;
    padding-left: 0.8em;
    color: rgb(198, 198, 198);
}
.stat--first{
    grid-column: 2;
    grid-row: 1;
}
.stat--first__pink{
    background: linear-gradient(to bottom,rgb(255, 16, 240), rgb(84, 0, 78));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.stat--second{
    grid-column: 2;
    grid-row: 2;
}
.stat--second__blue{
    background: linear-gradient(to bottom,rgb(21, 244, 238), rgb(10, 106, 103));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.stat--third__green{
    background:  linear-gradient(to bottom,rgb(103, 255, 123), rgb(52, 111, 61));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.1em;
}
.stat--third{
    grid-column: 2;
    grid-row: 3;
}
.footer{
    display: grid;
    font-size: 0.8em;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 1em;
}
.footer--content{
    text-wrap: nowrap;
}
.footer--logos{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-self: center;
    gap: 0.9em;
}
@media (min-width: 900px) {
    html{
        font-size: 24px;
        background-image: url(../pictures/background.webp);
        background-position: top;
        background-attachment: scroll;
    }
    .burger{
        display: none;
    }
    .navbar{
        display: grid;
        grid-template-rows: 5vw;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: #000000;
        width: 100%;
        height: 5vw;
        justify-content: right; 
        text-align: center;
        align-items: center;
        font-size: 0.8rem;
    }
    .navbar--logo{
        grid-column: 1;
        width: 80%;
    }
    .navbar--home{
        grid-column: 2 span 2;
        font-size: 1.2rem;
        text-align: left;
    }
    .navbar--subscribe{
        grid-column: -4;
    }
    .navbar--ourfans{
        grid-column: -3;
    }
    .navbar--subtypes{
        grid-column: span -2;
    }
    .card--content{
        height: 6em;
    }
    .stats-grid{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: repeat(3, 1fr);
    }
    .join{
        display: block;
        text-align: center;
        justify-content: center;
        align-self: center;
        font-size: 1.5em;
        grid-column: 1;
        grid-row: 2;
    }
}