html {
    background-color: black;
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    color: white;
}

@media (min-width: 768px) {
    .burger-menu{
        display: none;
    }
}
  
  @media (max-width: 768px) {
    li {
        list-style-type: none;
    }
    li a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    .burger-menu{
        float: right;
    }
    .logo {
        position: fixed;
        top: 0;
        right: 0;
    }

    #menu-items {
        display: none;
    }
  }